.main-page-container {
    padding-bottom: 10%;
    padding-top: 10%;
}

.subtitle-container {
    margin-bottom: 8%;
}

.filters-section {
    margin-bottom: 5%;
}

.shuffleButton {
    margin-top: 3%;
}